; 所有以“;”开头的行均为注释

;===================================

[login]
; 在此填入iaaa用户名与密码
user_name= XXXXXXXXXX
password= **********

;===================================

[time]
; 填入希望选择的班车的时间，用/分隔，如"08:00/08:30", "21:45/21:30"
; 填入的时间的顺序自然代表了优先级，如"08:00/08:30"，则优先选择08:00的班车
to_time= 08:00/08:30
back_time= 21:45/21:30

[wechat]
; 微信通知需要使用Server酱，请访问 https://sc.ftqq.com/
; True/False，1/0，yes/no
wechat_notice=True

; 方糖sckey
SCKEY = *******
